.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
  }
  
  .home figure {
    width: 258px;
    height: 295px;
    background-image: url("../../images/TicTacToe.png");
  }
  
  .home .botao {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 25px;
  }
  
  .home .botao button {
    display: flex;
    width: 450px;
    justify-content: center;
    align-items: center;
    padding-block: 15px;
    gap: 25px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  
    background: #6bb340;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .home .botao button:hover {
    background: #66c131;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.2);
  }
  
  .home button p {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .home button span {
    font-size: 35px;
    font-weight: 900;
    color: #498a22;
  }
  
  @media screen and (max-width: 570px) {
    .home .botao button {
      width: 288px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 15px;
      gap: 25px;
      border: 4px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      border-radius: 8px;
      background: #6bb340;
      box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
  